.logo img{
    width: 150px;
}
.background-sky{
    background-color: #F4F7FC;
    height: 100vh;
}
.form input, .form textarea{
    width: 70%;
    border: none;
    border: 1px solid lightblue;
}
h5{
    text-decoration: none;
}