h1{
    font-weight: 600;
}
.header-main{
    background-color: #FBD062;
    padding-top: 100px;
    /* padding-bottom: 75px; */
    position: relative;
    margin-bottom: 80px;
    height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
/* .header-main:after{
    width: 100%;
    height: 150px;
    content: "";
    position: absolute;
    background-color: red;
    bottom: -105px;
    right: 0;
    transform: rotate(-3deg)
} */
button{
    font-size: 30px;
}