.feedback-card img{
    width: 60px;
    margin-right: 20px;
    border: 4px solid #FBD062;
    border-radius: 50%;
}
.feedback-card{
    border: 1px solid lightgray;
}
.feedback-card:hover{
    background-color: #FBD062;
    transition:.3s;  
  }